ion-toolbar{
    --background:#222;
    --color:white;
}

.create{
    margin: 0 auto;
    max-width: 768px;

}
.create ion-item{
    max-width: 768px;

}

ion-input ::placeholder {
    text-align: center;
    }